<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.shiro.mapper.PermissionMapper">

	<select id="queryPermissionByRoleId" parameterType="String" resultType="Permission">
		SELECT P.ID, P.PERMISSION 
			FROM ROLEPERMISSION RP 
				JOIN PERMISSION P ON RP.PERMISSIONID=P.ID 
			WHERE ROLEID=#{roleId}
	
	</select>
	
</mapper>