<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.shiro.mapper.UserMapper">
	
	<resultMap type="User" id="userInfoMap">
		<id column="id" property="id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<collection property="roles" column="id" select="com.cloud.shiro.mapper.RoleMapper.queryRolesByUserId" ofType="Role"/>
	</resultMap>

	<select id="findByName" parameterType="string" resultMap="userInfoMap">
		select id, username, password from user
			where username=#{username}
	</select>
	
	
	<select id="findById"></select>
	
	<insert id="addUser"></insert>
</mapper>