<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.css">
<script type="text/javascript" src="/webjars/jquery/1.11.1/jquery.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<body>
	index page ---------------
	test01:<a href="/test01">test01</a><br/>
	test02:<a href="/test02">test02</a><br/>
	test03:<a href="/test03">test03</a><br/>
	test04:<a href="/test04">test04</a><br/>
</body>
</html>