<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.css">
<script type="text/javascript" src="/webjars/jquery/1.11.1/jquery.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<body>
	
	<div class="container">
		<div class="row" style="margin-top:20px;">
			<div>
				<form action="/login" method="post" enctype="application/json" class="form-horizontal">
					<div class="form-group">
						<label class="col-md-2">用户名：</label>
						<div class="col-md-3">
							<input type="text" name="username" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2">密码：</label>
						<div class="col-md-3">
							<input type="password" name="password" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2">
							<input type="submit" value="submit" class="btn btn-info">
						</div>
					</div>
				</form>
				
			</div>
		
		</div>
	
	</div>



</body>
</html>